* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

body {
  /* background: #0f0e25; */
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-family: sans-serif;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

nav {
  position: relative;
}

nav h2 {
  font-weight: 1000;
  font-size: 3em;
  color: rgb(224, 224, 223);
  display: flex;
  justify-content: space-around;
}

form {
  padding: 20px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  width: auto;
}

form input {
  height: 40px;
  padding: 0 20px;
  background: #fff;
  font-size: 14px;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  border-radius: 3px;
}

form button {
  padding: 5px 10px;
  border: 0;
  border-radius: 3px;
  height: 40px;
  font-size: 20px;
  font-weight: bolder;
  color: rgb(179, 179, 179);
  background-color: rgb(1, 18, 48);
}

#mountBtn:hover {
  background-color: rgb(0, 13, 36);
}
